/* CSS for styling college and university lists */
body {
  font-family: Arial, sans-serif;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: #fff;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
  
  .form-inline .form-control {
    width: 300px;
  }
  
  .btn-primary,
  .btn-secondary {
    margin: 10px;
  }
  


.college-list,
.university-list {
  list-style-type: none;
  padding: 5;
}


.college-list li,
.university-list li {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.college-list li:hover,
.university-list li:hover {
  background-color: #6c6a6a;
  cursor: pointer;
}
h1 {
  font-size: 2.5rem; /* Adjust font size as needed */
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* Adjust text color as needed */
  margin-top: 20px; /* Adjust top margin as needed */
  margin-bottom: 20px; /* Adjust bottom margin as needed */
  padding: 10px; /* Adjust padding as needed */
  border-bottom: 2px solid #ccc; /* Add a bottom border for separation */
}